#superior{
}

#menu{
}

#principal{	
}

#rodape{
}

.well, .txt, .btn-primary{
	margin-right: 20px;
	margin-left: 20px;
}

table{
	margin-left: 20px;
}

.selected{
	background-color: #EEE9E9;
}