.selected{
    background-color: #EEE9E9;
}


ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
}

nav{
    background-color: gray;
}

.dataTables_wrapper{
    margin-top: 20px;
}

.linkColor{
    
    color: #fff;
    
}