<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CargoCadastrar</servlet-name>
        <servlet-class>br.com.svim.servlet.CargoCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioCadastrar</servlet-name>
        <servlet-class>br.com.svim.servlet.FuncionarioCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialCadastrar</servlet-name>
        <servlet-class>br.com.svim.servlet.FilialCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialListar</servlet-name>
        <servlet-class>br.com.svim.servlet.FilialListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialAlterar</servlet-name>
        <servlet-class>br.com.svim.servlet.FilialAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialDeletar</servlet-name>
        <servlet-class>br.com.svim.servlet.FilialDeletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargoListar</servlet-name>
        <servlet-class>br.com.svim.servlet.CargoListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargoDeletar</servlet-name>
        <servlet-class>br.com.svim.servlet.CargoDeletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargoAlterar</servlet-name>
        <servlet-class>br.com.svim.servlet.CargoAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioListar</servlet-name>
        <servlet-class>br.com.svim.servlet.FuncionarioListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioAlterar</servlet-name>
        <servlet-class>br.com.svim.servlet.FuncionarioAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioDeletar</servlet-name>
        <servlet-class>br.com.svim.servlet.FuncionarioDeletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoProdutoCadastrar</servlet-name>
        <servlet-class>br.com.svim.servlet.TipoProdutoCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoProdutoListar</servlet-name>
        <servlet-class>br.com.svim.servlet.TipoProdutoListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoProdutoAlterar</servlet-name>
        <servlet-class>br.com.svim.servlet.TipoProdutoAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoProdutoDeletar</servlet-name>
        <servlet-class>br.com.svim.servlet.TipoProdutoDeletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoListar</servlet-name>
        <servlet-class>br.com.svim.servlet.ProdutoListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoDeletar</servlet-name>
        <servlet-class>br.com.svim.servlet.ProdutoDeletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoCadastrar</servlet-name>
        <servlet-class>br.com.svim.servlet.ProdutoCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoAlterar</servlet-name>
        <servlet-class>br.com.svim.servlet.ProdutoAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaListar</servlet-name>
        <servlet-class>br.com.svim.servlet.VendaListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaCadastrar</servlet-name>
        <servlet-class>br.com.svim.servlet.VendaCadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>br.com.svim.servlet.Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio</servlet-name>
        <servlet-class>br.com.svim.servlet.Relatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDetalhe</servlet-name>
        <servlet-class>br.com.svim.servlet.RelatorioDetalhe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargoCadastrar</servlet-name>
        <url-pattern>/CargoCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioCadastrar</servlet-name>
        <url-pattern>/FuncionarioCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialCadastrar</servlet-name>
        <url-pattern>/FilialCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialListar</servlet-name>
        <url-pattern>/FilialListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialAlterar</servlet-name>
        <url-pattern>/FilialAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialDeletar</servlet-name>
        <url-pattern>/FilialDeletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargoListar</servlet-name>
        <url-pattern>/CargoListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargoDeletar</servlet-name>
        <url-pattern>/CargoDeletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargoAlterar</servlet-name>
        <url-pattern>/CargoAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioListar</servlet-name>
        <url-pattern>/FuncionarioListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioAlterar</servlet-name>
        <url-pattern>/FuncionarioAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioDeletar</servlet-name>
        <url-pattern>/FuncionarioDeletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoProdutoCadastrar</servlet-name>
        <url-pattern>/TipoProdutoCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoProdutoListar</servlet-name>
        <url-pattern>/TipoProdutoListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoProdutoAlterar</servlet-name>
        <url-pattern>/TipoProdutoAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoProdutoDeletar</servlet-name>
        <url-pattern>/TipoProdutoDeletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoListar</servlet-name>
        <url-pattern>/ProdutoListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoDeletar</servlet-name>
        <url-pattern>/ProdutoDeletar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoCadastrar</servlet-name>
        <url-pattern>/ProdutoCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoAlterar</servlet-name>
        <url-pattern>/ProdutoAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaListar</servlet-name>
        <url-pattern>/VendaListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaCadastrar</servlet-name>
        <url-pattern>/VendaCadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio</servlet-name>
        <url-pattern>/Relatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDetalhe</servlet-name>
        <url-pattern>/RelatorioDetalhe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
